<footer style="background-color:#{{ theme.primary_dark_color }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h5>About</h5>
                <p>White Label Platform that will be customized by Joberia. This will be the base platform on which all platforms will be built on.</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>Media</h5>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Guides</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>Information</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Tech Stack</a></li>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Social Media</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>Newsletter</h5>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>